# globus client_id is required
[globus]
clientid = my-client-id

# optionally, set a time limit (in minutes), default is 24 hours
[schedule]
timelimitmins = 300

# comma separated list of emails to send all output to (optional)
[notification]
email = email1@example.com,email2@example.com

# one or more sections (with arbitrary section names) for each directory to be synchronised
[nameofthissync]
# the Globus source endpoint id
src_endpoint = src-endpoint-id
# the Globus destination endpoint id
dst_endpoint = dst-endpoint-id
# the path to the directory on the source endpoint
src_path = dirtoshare
# the path to the directory on the destination endpoint (optional, defaults to src_path)
#dst_path = dirtoshare
# email notification when files have been transferred (optional)
email = email3@example.com
# delete source files if transfer successfully completed (optional, defaults to false)
delete = true
# sync level, valid values are "exists", "size", "mtime" and "checksum" (optional, defaults to mtime)
sync_level = mtime

[nameofanothersync]
# the Globus source endpoint id
src_endpoint = src-endpoint-id-2
# the Globus destination endpoint id
dst_endpoint = dst-endpoint-id-2
# the path to the directory on the source endpoint
src_path = /
# the path to the directory on the destination endpoint (optional, defaults to src_path)
dst_path = /path/to/dir
# email notification when files have been transferred (optional)
email = email4@example.com,email5@example.com
# delete source files if transfer successfully completed (optional, defaults to false)
#delete = false
# sync level, valid values are "exists", "size", "mtime" and "checksum" (optional, defaults to mtime)
#sync_level = mtime
